html,
body {
  overflow-x: hidden; /* Required to hide horizontal scroll on Firefox */
}

body {
  padding: 10px;
  max-width: 300px;
}

h1 {
  font-size: 25px;
  width: 100%;
}

p {
  color: grey;
  font-style: italic;
  text-indent: 20px;
}
