html,
body {
	min-width: 400px;
	overflow-x: hidden; /* Required to hide horizontal scroll on Firefox */
	padding: 5px;
}

#options-form {
	width: 400px;
}

pre.error {
	color: red;
}
pre.loading {
	color: orange;
}
